
.content
{
    
    height: 100%;
    width: 1300px;
    margin: 0px 0px 0px 0px;
    
}

body {
min-width: 550px;
overflow-x:hidden;
background-color:#D1D0CE;
}

.page {
  height: 100%;
}

#container {
width: 1100px;
margin: 0 auto;
background: #ffffff;
}